<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="ru.amartynov.pace-calculator" 
        versionCode="107" 
        version="1.0.7">

    <name>Pace Calculator</name>
    <description></description>

    <platform name="android">
        <icon src="icon.png" />
        <plugin name="cordova-plugin-statusbar" source="npm" version="2.1.0" />
        <preference name="StatusBarBackgroundColor" value="#999999" />
    </platform>
    
    <platform name="winphone">
        <icon src="icon-flat.png" />
        <splash src="icon-flat.png" />
    </platform>

    <preference name="permissions" value="none" />
</widget>