doctype html
html
  head
    title Running Workout Pace Calculator - Endurance and Stamina

    meta(name="description", content="Calculate your optimal pace and heart-rate ranges for" +
      " Easy Runs, Long Runs, Steady-State Runs, Tempo Runs, and Tempo Intervals" +
      " based on your current fitness.")

    meta(name="viewport", content="width=device-width")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet" href=vendor.bootstrap_css)
    link(rel="stylesheet" href="app.css")
  body
    .container-fluid
        block body
    script(src=vendor.knockout)
    script(src="app.js")
