doctype html
html
  head
    title Pace Calculator for Runners
    meta(name="description", content="Estimate optimal training pace ranges and heart rate zones")

    meta(name="viewport", content="width=device-width")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="msapplication-tap-highlight", content="no")

    link(rel="stylesheet" href=vendor.bootstrap_css)
    link(rel="stylesheet" href="app.css")
  body
    .container-fluid
        block body
    script(src=vendor.jquery)
    script(src=vendor.knockout)    
    script(src=vendor.bootstrap_js)
    script(src="app.js")
