div(data-bind="if: result")
  table.table.table-condensed.table-hover
    thead
      tr
        th Workout
        th(data-bind="text: effortCaption")
        th HR
    tbody(data-bind="foreach: result")
      tr(data-bind="click: displayDetails")
        td(data-bind="text: workout.name")
        td: strong.text-primary(data-bind="text: effort")
        td(data-bind="text: hr")
        
  div.text-center.text-info: small Tap a row for details