div(data-bind="if: result")
  table.table.table-condensed
    thead
      tr
        th Workout
        th: abbr(data-bind="text: effortCaption", title="Recommended effort", data-toggle="tooltip")
        th: abbr(title="Recommended heart rate, beats per minute", data-toggle="tooltip") HR
    tbody(data-bind="foreach: result")
      tr
        td: abbr(data-bind="text: workout.name, attr: { title: workout.info }", data-toggle="tooltip")
        td: strong.text-primary(data-bind="text: effort")
        td(data-bind="text: hr")      